:root {
  --background: #ffffff;
  --card-bg: #f4f6fd;
  --text-primary: #000;
  --text-secondary: #1c1f6e;
  --primary: #1c1f6e;
  --secondary: #f4f6fd;

  --blue: #1c1f6e;
  --shadow: #1c1f6e1f;
  --red: #ff6d6d;
  --green: #14cdc8;
  --yellow: #f9d100;
  --white: #ffffff;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0.5rem;
  max-width: 100%;
}

body {
  background-color: var(--background);
}

.horizontal-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.sidebar {
  background-color: var(--card-bg);
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  transition: right 0.5s ease-in-out;
  width: 300px;
  z-index: 10;
}
#sidebar {
  right: -300px;
}

#sidebar:target {
  right: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.sidebar-header {
  background-color: var(--background);
  height: max-content;
  padding: 2rem;
  text-align: center;
  top: 0;
  width: 100%;
}

.sidebar-title {
  color: #000;
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.sidebar-button-text-primary {
  color: white;
  text-decoration: none;
}

.sidebar-button-text-secondary {
  color: black;
  text-decoration: none;
}

.sidebar-button-primary {
  background-color: var(--background);
  border-radius: 4px;
  color: var(--blue);
  height: 5rem;
  padding: 2rem;
}

.sidebar-button-secondary {
  background-color: var(--blue);
  border-radius: 4px;
  color: white;
  height: 5rem;
  padding: 2rem;
}

.sidebar-button-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-around;
  padding: 1rem;
}

.form-container {
  align-items: flex-start;
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  padding: 20px;
}

.form-group {
  margin-bottom: 3rem;
  width: 100%;
}

label {
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.color-indicator {
  height: 10px;
  width: 10px;
}

.color-group-checkbox {
  width: auto;
}

.color-group-label {
  font-weight: lighter;
}

input,
select,
textarea {
  border-radius: 5px;
  font-size: 12px;
  padding: 8px;
  width: 100%;
}

.sidebar-description {
  height: 15rem;
}

.radio-group,
.checkbox-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group-input {
  width: fit-content;
}
.checkbox-group input {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.color-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.quantity-container {
  align-content: center;
  align-items: center;
  align-items: center;
  background-color: var(--background);
  display: flex;
  gap: 5px;
  padding-left: 10px;
}

.quantity-container button {
  background-color: white;
  border: var(--card-bg) 2px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 30px;
}

.price-box {
  align-items: center;
  background: #f1f1f1;
  display: flex;
}

.price-box span {
  background: #e0e0e0;
  font-size: 14px;
  padding: 12px;
}

.price-box input {
  border: none;
  padding: 10px;
  width: 100%;
}
