@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --blue: #1c1f6e;
  --card-bg: #f4f6fd;
  --red: #ff6d6d;
  --primary: #1c1f6e;
  --green: #14cdc8;
  --secondary: #f4f6fd;
  --shadow: #1c1f6e1f;
  --text-primary: #000;
  --text-secondary: #1c1f6e;
  --text-gray: #a1a9b8;
  --white: #ffffff;
  --yellow: #f9d100;
  --danger: #ef4343;
}

*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* elemetns */

html {
  font-family: "Work Sans", sans-serif;
  font-size: 62.5%;
  overflow: auto;
}

img {
  display: inline-block;
  margin: 0.5rem;
  max-width: 100%;
}

body {
  background-color: var(--background);
  height: 100vh;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

nav {
  box-shadow: 0px 6px 5px var(--shadow);
  display: flex;
  flex-direction: row;
  height: 6rem;
  justify-content: space-between;
  margin-bottom: 6rem;
  padding: 1rem;
}

label {
  color: var(--text-primary);
  display: block;
  font-size: 14px;
  font-weight: bold;
}

input,
select,
textarea {
  border-radius: 5px;
  font-size: 12px;
  padding: 8px;
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
}

thead {
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
}

th,
td {
  border: 1px solid var(--border-color);
  height: 60px;
  padding: 12px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--gray);
}

tbody tr {
  border-bottom: 1px var(--text-gray) solid;
}

/* ids */

#sidebar {
  overflow: auto;
  right: -300px;
}

#sidebar-conrtol-add,
#sidebar-conrtol-edit {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 1px;
}

#sidebar .sidebar-title#sidebar-add,
#sidebar .sidebar-title#sidebar-edit {
  display: none;
}

#sidebar-conrtol-add:target ~ #sidebar {
  right: 0;
}

#sidebar-conrtol-add:target ~ #sidebar .sidebar-title#sidebar-add {
  display: block;
}

#sidebar-conrtol-edit:target ~ #sidebar {
  right: 0;
}

#sidebar-conrtol-edit:target ~ #sidebar .sidebar-title#sidebar-edit {
  display: block;
}

#sidebar-conrtol-edit:target ~ .blur-background,
#sidebar-conrtol-add:target ~ .blur-background {
  display: block;
}

/* Hide both graphs by default */
#revenue-graph,
#losses-graph {
  display: none;
  min-width: 1300px;
}

#revenue-graph-legends,
#losses-graph-legends {
  display: none;
}

/* Show revenue graph when revenue radio is checked */
#showRevenue:checked ~ .graph-container #revenue-graph {
  display: inline-block;
}

/* Show losses graph when losses radio is checked */
#showLosses:checked ~ .graph-container #losses-graph {
  display: inline-block;
}

/* Show revenue graph when revenue radio is checked */
#showRevenue:checked ~ .graph-container #revenue-graph-legends {
  display: block;
}

/* Show losses graph when losses radio is checked */
#showLosses:checked ~ .graph-container #losses-graph-legends {
  display: block;
}

/* Show revenue line when revenue radio is checked */
#showRevenue:checked ~ .switch-graph #show-revenue-label {
  border-bottom: 1px var(--blue) solid;
  color: var(--text-primary);
}

/* Show losses line when losses radio is checked */
#showLosses:checked ~ .switch-graph #show-losses-label {
  border-bottom: 1px var(--blue) solid;
  color: var(--text-primary);
}

#show-table-label {
  background-image: url("./assets/table_dark.svg");
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

#show-grid-label {
  background-image: url("./assets/grid_dark.svg");
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

#show-table-label,
#show-grid-label {
  background-color: var(--background);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px gray solid;
  height: 48px;
  padding: 8px;
  width: 48px;
}

/* classes */

.drop-down-container {
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
}

.select-icon {
  height: 25px;
  width: 25px;
}

.nav-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4em;
  justify-content: space-evenly;
  padding: 1em;
  width: auto;
}

.nav-option {
  height: 25px;
  width: 35px;
}

.profile-image {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.dropbtn {
  all: unset;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  padding: 10px;
  text-align: center;
  width: auto;
}

.dropdown > button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-content {
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: 14rem;
  min-width: 158px;
  position: absolute;
}

.dropdown-content a {
  color: black;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--card-bg);
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.blur-background {
  background-color: #0006;
  display: none;
  height: 10000px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.horizontal-padding {
  padding-left: 72px;
  padding-right: 72px;
}

#alert {
  display: none;
}

#alert:target {
  display: block;
}

#alert:target ~ .blur-background {
  display: block;
  z-index: 5;
}

.alert {
  background: var(--background);
  border: 1px var(--text-gray) solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 186px;
  justify-content: space-between;
  left: 50%;
  max-width: 440px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 12;
}

.alert-title {
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
}

.alert-content {
  font-size: 18px;
  font-weight: 400;
  margin: 20px;
  margin-top: 0px;
}

.alert-footer {
  align-content: center;
  border-top: 1px var(--text-gray) solid;
  height: 64px;
  padding: auto;
  width: 100%;
}

.alert-button-group {
  display: flex;
  gap: 12px;
  height: 32px;
  justify-content: flex-end;
}

.alert-button-primary,
.alert-button-secondary {
  border-radius: 6px;
  color: var(--background);
  height: 32px;
  width: 70px;
}

.alert-button-primary {
  background-color: var(--danger);
}

.alert-button-secondary {
  background-color: var(--card-bg);
  color: var(--text-gray);
}

.sidebar {
  background-color: var(--card-bg);
  border-top-left-radius: 3rem;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  transition: right 0.5s ease-in-out;
  width: 300px;
  z-index: 10;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 10rem;
}

.sidebar-header {
  background-color: var(--background);
  border-top-left-radius: 3rem;
  height: max-content;
  padding: 2rem;
  text-align: center;
  top: 0;
  width: 100%;
}

.sidebar-title {
  color: var(--text-primary);
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.sidebar-button-text-primary {
  color: white;
  text-decoration: none;
}

.sidebar-button-text-secondary {
  color: black;
  text-decoration: none;
}

.sidebar-button-primary {
  background-color: var(--background);
  border-radius: 5px;
  color: white;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  width: 12rem;
}

.sidebar-button-secondary {
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  width: 12rem;
}

.sidebar-button-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sidebar-label-seondary {
  color: var(--text-primary);
}

.form-container {
  align-items: flex-start;
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-group > label {
  margin-bottom: 10px;
}

.color-indicator {
  height: 10px;
  width: 10px;
}

.color-group-checkbox {
  width: auto;
}

.color-group-label {
  color: var(--text-primary);
  display: block;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.sidebar-description {
  height: 15rem;
}

.radio-group,
.checkbox-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group-input {
  width: fit-content;
}

.checkbox-group input {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.color-group {
  align-items: first baseline;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.quantity-container {
  align-content: center;
  align-items: center;
  align-items: center;
  background-color: var(--background);
  display: flex;
  gap: 5px;
  padding-left: 10px;
}

.quantity-container button {
  background-color: white;
  border: var(--card-bg) 2px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 30px;
}

.price-box {
  align-items: center;
  background: var(--background);
  border: rgb(186, 186, 186) 1px solid;
  display: flex;
  font-size: 12px;
  width: fit-content;
}

.price-box span {
  background: var(--background);
  border-right: rgb(186, 186, 186) 1px solid;
  font-size: 14px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.price-box input {
  border: none;
  padding: 10px;
  width: 100%;
}

/* dashboard */

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
}

.card {
  align-content: space-between;
  background-color: var(--card-bg);
  border-radius: 16px;
  height: 124px;
  padding: 24px;
}

.card-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.month-picker {
  align-items: center;
  background-color: white;
  border: 1px solid #464f6029;
  border-radius: 4px;
  color: var(--text-gray);
  display: flex;
  font-size: 14px;
  height: 34px;
  justify-content: space-between;
  padding: 12px;
  width: 184px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
}

.card.charts:nth-child(5) {
  grid-column: span 3;
}

.card.charts:nth-child(6) {
  grid-column: span 1;
}

.card.data-table:nth-child(7) {
  grid-column: span 4;
}

.card-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.stat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.values {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: 300;
}

.metric {
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 500;
}

.card-icon > img {
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}

/* graphs and charts */

.charts {
  height: auto;
}

.switch-graph {
  align-items: center;
  display: flex;
  height: 24px;
  height: 34px;
  justify-content: space-evenly;
  margin-bottom: 24px;
  width: 188px;
}

.switch-graph > label {
  align-items: center;
  align-items: center;
  color: var(--text-gray);
  display: inline-block;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.graph-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scroll */
  text-align: center;
  white-space: nowrap;
  width: 100%;
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.graph-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.graph-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.legends {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  margin: 2rem;
  width: 200px;
}

.legend {
  font-size: 14px;
  font-weight: 400;
  width: fit-content;
}

.legend-indicator {
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
}

/* product detail table and grid/ */

.card-icon > img {
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}

.data-table {
  height: fit-content;
  min-width: 300px;
  padding: 0px;
  position: relative;
}

.data-table > .card-header {
  margin: 24px;
  width: auto;
}

.data-switch-button-group {
  display: flex;
  justify-content: center;
  right: 0px;
  top: 0px;
  width: 254px;
}

.add-record-button {
  align-items: center;
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
  width: 134px;
}

.show-table:checked ~ .data-container #table {
  display: table;
}

.show-table:checked ~ .data-container #grid {
  display: none;
}

.show-grid:checked ~ .data-container #grid {
  display: block;
  width: auto;
}

.show-grid:checked ~ .data-container #table {
  display: none;
}

.show-table:checked
  ~ .data-card-header
  .data-switch-button-group
  #show-table-label {
  background-color: #1c1f6e;
  background-image: url("./assets/table_light.svg");
}

.show-grid:checked
  ~ .data-card-header
  .data-switch-button-group
  #show-grid-label {
  background-color: #1c1f6e;
  background-image: url("./assets/grid_light.svg");
}

.toggle-btn {
  background-color: var(--blue);
  display: inline;
}

.data-container {
  margin: auto;
  overflow-x: auto;
  width: 100%;
}

.icon-small {
  height: 14px;
  width: 14px;
}

.icon-mid {
  height: 20px;
  width: 20px;
}

#showTable:checked + label {
  background-color: var(--blue);
  color: var(--white);
}

#showGrid:checked + label {
  background-color: var(--blue);
  color: var(--white);
}

.card-content {
  max-width: 100rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.graph-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scroll */
  white-space: nowrap; /* Ensure content stays in a single line */
  width: 100%;
}

.graph {
  height: auto;
  min-width: 1300px;
}

#grid {
  box-shadow: none;
}

.data-grid {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  margin: 1rem;
  padding: 2rem;
}

.data-card {
  background-color: var(--background);
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 288px;
  padding: 15px;
  width: 280px;
}

.data-card-header {
  align-items: center;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.data-card-header h3 {
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 8px;
}

.data-card-content {
  color: var(--text-primary);
  display: grid;
  font-size: 14px;
  gap: 18px 0px;
  grid-template-columns: auto auto;
}

.data-card-content-properties > label {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 500;
}

.data-card-content-properties > span {
  font-size: 16px;
  font-weight: 400;
}

.data-card-content > label {
  color: var(--text-gray);
}

.data-card-content .status {
  color: var(--red);
  font-weight: bold;
}

.data-card-content .price {
  font-weight: bold;
}

.error-container {
  position: relative;
}

.error-box {
  background-color: var(--background);
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  left: 30px;
  max-width: 250px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  z-index: 10;
}

.error:hover ~ .error-box {
  display: flex;
}

.error-title {
  font-size: 16px;
  font-weight: 500;
  margin: 8px;
}

.error-description {
  font-size: 14px;
  font-weight: 400;
  margin: 8px;
}
/* media queries */

@media screen and (max-width: 496px) {
  .container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .card {
    min-width: 300px;
  }
  .card.charts:nth-child(5) {
    grid-column: span 1 !important;
  }

  .card.charts:nth-child(6) {
    grid-column: span 1 !important;
  }

  .card.data-table:nth-child(7) {
    grid-column: span 1 !important;
  }

  .horizontal-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .alert {
    width: 300px;
  }

  .dropbtn > p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-links {
    padding: 0.2rem;
  }

  .horizontal-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card.charts:nth-child(5) {
    grid-column: span 2;
  }

  .card.charts:nth-child(6) {
    grid-column: span 2;
  }

  .card.data-table:nth-child(7) {
    grid-column: span 2;
  }

  .card-header {
    height: max-content;
  }

  .horizontal-padding {
    padding-left: 36px;
    padding-right: 36px;
  }
}
