@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --blue: #1c1f6e;
  --card-bg: #f4f6fd;
  --green: #ff6d6d;
  --primary: #1c1f6e;
  --red: #14cdc8;
  --secondary: #f4f6fd;
  --shadow: #1c1f6e1f;
  --text-primary: #000;
  --text-secondary: #1c1f6e;
  --text-gray: #0007;
  --white: #ffffff;
  --yellow: #f9d100;
}

*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* elemetns */

html {
  font-family: "Work Sans", sans-serif;
  font-size: 62.5%;
}

img {
  display: block;
  margin: 0.5rem;
  max-width: 100%;
}

body {
  background-color: var(--background);
  height: 100vh;
}

nav {
  box-shadow: 0px 6px 5px var(--shadow);
  display: flex;
  flex-direction: row;
  height: 6rem;
  justify-content: space-between;
  margin-bottom: 6rem;
  padding: 1rem;
}

label {
  color: var(--text-primary);
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
select,
textarea {
  border-radius: 5px;
  font-size: 12px;
  padding: 8px;
  width: 100%;
}

/* ids */

#sidebar {
  right: -300px;
}

#sidebar:target {
  right: 0;
}

#sidebar:target ~ .blur-background {
  /* backdrop-filter: blur(2px); */
  background-color: #0006;
  display: block;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* classes */

.drop-down-container {
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
}

.select-icon {
  height: 25px;
  width: 25px;
}

.nav-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4em;
  justify-content: space-evenly;
  padding: 1em;
  width: auto;
}

.nav-option {
  height: 25px;
  width: 35px;
}

.profile-image {
  border-radius: 50px;
  height: 25px;
  width: 25px;
}

.horizontal-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.dropbtn {
  color: black;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: auto;
}

.dropdown {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: 14rem;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.blur-background {
  display: none;
}

.horizontal-padding {
  padding-left: 72px;
  padding-right: 72px;
}

.sidebar {
  background-color: var(--card-bg);
  border-top-left-radius: 3rem;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  transition: right 0.5s ease-in-out;
  width: 300px;
  z-index: 10;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 10rem;
}

.sidebar-header {
  background-color: var(--background);
  border-top-left-radius: 3rem;
  height: max-content;
  padding: 2rem;
  text-align: center;
  top: 0;
  width: 100%;
}

.sidebar-title {
  color: var(--text-primary);
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.sidebar-button-text-primary {
  color: white;
  text-decoration: none;
}

.sidebar-button-text-secondary {
  color: black;
  text-decoration: none;
}

.sidebar-button-primary {
  background-color: var(--background);
  border-radius: 5px;
  color: white;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  width: 12rem;
}

.sidebar-button-secondary {
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  height: fit-content;
  padding: 1rem;
  text-align: center;
  width: 12rem;
}

.sidebar-button-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sidebar-label-seondary {
  color: var(--text-primary);
}

.form-container {
  align-items: flex-start;
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.color-indicator {
  height: 10px;
  width: 10px;
}

.color-group-checkbox {
  width: auto;
}

.color-group-label {
  color: var(--text-primary);
  display: block;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.sidebar-description {
  height: 15rem;
}

.radio-group,
.checkbox-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group-input {
  width: fit-content;
}

.checkbox-group input {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.color-group {
  align-items: first baseline;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.quantity-container {
  align-content: center;
  align-items: center;
  align-items: center;
  background-color: var(--background);
  display: flex;
  gap: 5px;
  padding-left: 10px;
}

.quantity-container button {
  background-color: white;
  border: var(--card-bg) 2px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 30px;
}

.price-box {
  align-items: center;
  background: var(--background);
  border: rgb(186, 186, 186) 1px solid;
  display: flex;
  font-size: 12px;
  width: fit-content;
}

.price-box span {
  background: var(--background);
  border-right: rgb(186, 186, 186) 1px solid;
  font-size: 14px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.price-box input {
  border: none;
  padding: 10px;
  width: 100%;
}

/* dashboard */

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
}

.card {
  align-content: center;
  background-color: var(--card-bg);
  border-radius: 16px;
  height: 124px;
  /* max-width: 306px; */
  min-width: fit-content;
  padding: 2rem;
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.stat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.values {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: 300;
}

.metric {
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 500;
}

.card-icon > img {
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}

/* media queries */

@media screen and (max-width: 430px) {
  .container {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .horizontal-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .card {
    height: 20rem;
  }

  .nav-links {
    padding: 0.2rem;
  }

  .horizontal-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .data-table {
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .horizontal-padding {
    padding-left: 36px;
    padding-right: 36px;
  }
}
